<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.modesty0310.matzip.mapper.ImageMapper">
    <insert id="createImage" parameterType="com.modesty0310.matzip.entity.Image" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO image (uri, post_id)
        VALUES (#{uri}, #{post.id})
    </insert>

    <delete id="deleteImageByPostId">
        DELETE FROM image
        WHERE post_id = #{postId}
    </delete>

</mapper>